

<DOCTYPE HTML>
    <Html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta charset="UTf-8" />
        <link rel="stylesheet" href="~/StyleSheet.Css" />
        <title></title>
    </head>
    <body>
             <nav class="navbar">
                <ul class="text-center w-100 ">
                <li><a href="#">Home</a></li>
                <li><a href="#">Work</a></li>
                <li><a href="#">School</a></li>
                </ul>
            </nav>
      
        <main >
           
               @RenderBody()
           
        </main>
        <footer class="footer-content">
            <section>
                <div><p>&copy; 2025 Tunde Daniel</p>
                </div>
            </section>
        </footer>


    </body>










</Html>

