@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <main class="container flex ">
        <div class="box w-75 margin-top-200 margin-auto">
        <h1 class="text-red text-center"> You Ran into an error</h1>

        </div>
    </main>
